<footer class="comments">
    <div id="disqus_thread"></div>
    <div class="comment"></div>
    <script>
        new Valine({
            av: AV, // source from av-min.js
            el: '.comment' ,
            notify:false, // 邮件提醒 v1.1.4新增
            verify:false, // 验证码 v1.1.4新增
            app_id: 'y7PBuIBhIF5ApPPAUXxihcw2-gzGzoHsz',
            app_key: 'FS9Srq3mrEfXeDRnNoknXImD',
            placeholder: '请留下你的宝贵意见，共同交流学习进步～！',
            path:window.location.pathname, // 路径配置 v1.1.5新增，可填window.location.href
            pageSize:10
        });
    </script>
</footer>
