{{!------------------------------
To add a new social icon simply add an icon listed within the Font Awesome toolkit.
Add the class in the <i> tag to match the desired social network
and then add your link to the <a>.
--------------------------------}}
<ul class="social expanded">

    <!-- Facebook -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://www.facebook.com/ferdinandhx" title="黄祥的Facebook">
            <i class='fa fa-facebook-official'></i>
            <span class="label">Facebook</span>
        </a>
    </li>

    <!-- weibo -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://weibo.com/u/5712148033?is_hot=1" title="@lucashuang在路上 on weibo">
            <i class='fa fa-weibo'></i>
            <span class="label">微博</span>
        </a>
    </li>

    <!-- Linkedin -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://www.linkedin.com/in/%E7%A5%A5-%E9%BB%84-89793510a/" title="huangxiang on LinkedIn">
            <i class='fa fa-linkedin-square'></i>
            <span class="label">Linkedin</span>
        </a>
    </li>

    <!-- Github -->
    <li class="social item hvr-grow-rotate">
        <a rel="me" target="_blank" href="https://github.com/xianghuang1992" title="huangxiang on Github">
            <i class='fa fa-github'></i>
            <span class="label">Github</span>
        </a>
    </li>

    <!-- RSS -->
    <li class="social item hvr-grow-rotate">
        <a href="/rss/" title="Subscribe to RSS">
            <i class='fa fa-rss'></i>
            <span class="label">RSS</span>
        </a>
    </li>
</ul>
